body {
	font-family: Helvetica, sans-serif;
}

.w50{
	width: 50%;
}


.centered {
	margin: 15vh;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0em 1em 0em 1em;
	text-align: center;
}

.icon-container {
	display: none ;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-inline: auto;
	margin-block: 15vh;
}

#results {
	display:none;
}

.icon {
	width: 80px;
	height: 80px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	text-transform: uppercase;
}

.prompt-container {
	text-align: center; /* Center align the text within the container */
}